# Linear regression

## Load dataset

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = sns.load_dataset('penguins')

In [5]:
df.dropna(inplace=True)

In [6]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

## Load scikit-learn libraries

In [7]:
from sklearn.preprocessing import StandardScaler

In [10]:
from sklearn.linear_model import LinearRegression

In [12]:
from sklearn.metrics import r2_score, mean_absolute_error

In [13]:
model = LinearRegression()

In [16]:
model.fit(X,y)

LinearRegression()

## Evaluate

In [18]:
model.score(X,y)

0.7639366781169294

In [19]:
y_pred = model.predict(X)

In [23]:
mean_absolute_error(y_pred,y)

310.0625179447778

## Train test split

In [25]:
from sklearn.model_selection import train_test_split