In [2]:
import scipy
import scipy.special as ss
import scipy.stats as stats
import itertools

## Combinaciones y permutaciones

In [27]:
scipy.special.comb(40,4)

91390.0

In [24]:
list(itertools.combinations_with_replacement(range(1,7),2))

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 5),
 (5, 6),
 (6, 6)]

In [26]:
6/scipy.special.comb(6, 2, repetition=True)

0.2857142857142857

## Probabilidad condicionada

In [30]:
par = {2,4,6}

In [31]:
primos = {1,2,3,5}

In [33]:
par.union(primos)

{1, 2, 3, 4, 5, 6}

In [34]:
par.intersection(primos)

{2}

In [ ]:
# prob numero primo

In [35]:
4/6

0.6666666666666666

In [ ]:
# prob primo sabiendo que es par

In [36]:
(1/6)/(4/6)

0.25

In [ ]:
 # P (A | B) = P (A ∩ B) / P (B)

In [ ]:
P_B = 3/6

In [37]:
par.intersection(primos)

{2}

In [38]:
P_A_B = 1/6

In [39]:
P_A_cond_B = (1/6) / (3/6)

In [40]:
P_A_cond_B

0.3333333333333333

## Teorema de Bayes

In [ ]:
P (A | B) = P (A ∩ B) / P (B)

In [ ]:
P (A ∩ B) = P (A | B) * P (B) = P (B | A) * P (A)

In [ ]:
P (A ∩ B) = P (B | A) * P (A)

In [ ]:
P (A | B) = P(A)

In [ ]:
P (A ∩ B) = P(A) * P(B)

In [ ]:
 P (A | B) * P (B) = P (B | A) * P (A)

In [ ]:
 P (A | B) = P (B | A) * P (A) / P (B)

## Probabilidad condicional

In [41]:
import seaborn as sns

In [42]:
df = sns.load_dataset('penguins')

In [43]:
df.dropna(inplace=True)

In [44]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [59]:
df.island

0      Torgersen
1      Torgersen
2      Torgersen
4      Torgersen
5      Torgersen
         ...
338       Biscoe
340       Biscoe
341       Biscoe
342       Biscoe
343       Biscoe
Name: island, Length: 333, dtype: object

In [ ]:
P(T|H) = P(H|T) * P(T) / P(H)

In [64]:
P(H|T) = len(df[(df.island == 'Torgersen') & (df.sex=='FEMALE')]) / len(df[(df.island == 'Torgersen')])

0.5106382978723404

In [ ]:
P(T) = 0.5

In [66]:
len(df[(df.sex=='FEMALE')])/len(df)

0.4954954954954955

In [ ]:
P(H) = len(df[(df.sex=='FEMALE')])/len(df)

In [68]:
0.75106382978723404 * 0.5 / 0.4954954954954955

0.7578916827852998

## Coronavirus test

In [ ]:
P(+|infectado) = 0.999

In [ ]:
P(infectado) = 0.5

In [ ]:
P(+|no infectado) = 0.3

In [ ]:
P(infectado|+) = P(+|infectado) * P(infectado) / P(+)

In [ ]:
P(+) = P(+|infectado) * P(infectado) + P(+|no infectado) * (1-P(infectado))

In [53]:
0.99 * 0.05 + 0.3 * 0.95

0.33449999999999996

In [57]:
(0.999 * 0.5) / (0.999 * 0.5 + 0.3 * 0.5)

0.76905311778291