# Dates and Times

* Python datetime
  * datetime
  * strftime/strptime
  * timedelta
  * timezones
* Pandas datetime
  * Parse dates
  * Date index

## Basics

In [1]:
from datetime import datetime, date, time

In [2]:
year = 2015
month = 1
day = 20
hour = 7
minute = 28
second = 15

In [3]:
dt = datetime(year, month, day, hour, minute, second)

In [4]:
dt

datetime.datetime(2015, 1, 20, 7, 28, 15)

In [5]:
dir(dt)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [7]:
dt.hour, dt.minute, dt.second, dt.month

(7, 28, 15, 1)

Extract the equivalent date object:

In [8]:
dt.date()

datetime.date(2015, 1, 20)

Extract the equivalent time object:

In [9]:
dt.time()

datetime.time(7, 28, 15)

When aggregating or grouping time series data, it is sometimes useful to replace fields of a series of datetimes such as zeroing out the minute and second fields:

In [10]:
dt.replace(minute=0, second=0)

datetime.datetime(2015, 1, 20, 7, 0)

## Current date and time

In [11]:
print("Today: ", date.today())

Today:  2020-07-18

In [12]:
print("Now: ", datetime.now())

Now:  2020-07-18 09:36:35.087184

In [13]:
start_time = datetime.now()

In [14]:
start_time

datetime.datetime(2020, 7, 18, 9, 37, 18, 465744)

In [18]:
datetime.now() - start_time

datetime.timedelta(seconds=48, microseconds=933463)

## strftime

Format a datetime string:

In [26]:
start_time.strftime('%d-%m-%Y, %A')

'18-07-2020, Saturday'

In [20]:
start_time.strftime('%m/%d/%Y %H:%M')

'07/18/2020 09:37'

* `%a` - abbreviated weekday name.
* `%A` - full weekday name.
* `%b` - abbreviated month name.
* `%B` - full month name.
* `%c` - date and time, as "%a %b %e %H:%M:%S %Y".
* `%d` - zero-padded day of the month as a decimal number [01,31].
* `%e` - space-padded day of the month as a decimal number [ 1,31]; equivalent to `%_d`.
* `%H` - hour (24-hour clock) as a decimal number [00,23].
* `%I` - hour (12-hour clock) as a decimal number [01,12].
* `%j` - day of the year as a decimal number [001,366].
* `%m` - month as a decimal number [01,12].
* `%M` - minute as a decimal number [00,59].
* `%L` - milliseconds as a decimal number [000, 999].
* `%p` - either AM or PM.
* `%S` - second as a decimal number [00,61].
* `%U` - week number of the year (Sunday as the first day of the week) as a decimal number [00,53].
* `%w` - weekday as a decimal number [0(Sunday),6].
* `%W` - week number of the year (Monday as the first day of the week) as a decimal number [00,53].
* `%x` - date, as "%m/%d/%Y".
* `%X` - time, as "%H:%M:%S".
* `%y` - year without century as a decimal number [00,99].
* `%Y` - year with century as a decimal number.
* `%Z` - time zone offset, such as "-0700".
* `%%` - a literal "%" character.

https://strftime.org/

In [30]:
print("Current year: ", date.today().strftime("%Y"))
print("Month of a year: ", date.today().strftime("%B"))
print("Week number of the year: ", date.today().strftime("%W"))
print("Weekday of the week: ", date.today().strftime("%w"))
print("Day of the year: ", date.today().strftime("%j"))
print("Day of the Month: ", date.today().strftime("%d"))
print("Day of week: ", date.today().strftime("%A"))

Current year:  2020
Month of a year:  July
Week number of the year:  28
Weekday of the week:  6
Day of the year:  200
Day of the Month:  18
Day of week:  Saturday

## strptime

Convert a string into a datetime object:

In [27]:
datetime.strptime('20150120', '%Y%m%d')

datetime.datetime(2015, 1, 20, 0, 0)

In [29]:
datetime.strptime('2015-01-20', '%Y-%m-%d')

datetime.datetime(2015, 1, 20, 0, 0)

## Exercise

In [33]:
import pandas as pd

In [38]:
cumples = pd.read_excel('data/Cumpleaños IH Data Jun 2020.xlsx')

In [40]:
cumples.head(20)

      Nombre                Fecha
0       Lola           23-06-1991
1      Laura           24-08-1986
2     Álvaro  1993-09-11 00:00:00
3       Anna           19-09-1991
4       Vero  1983-06-01 00:00:00
5     Blanca  1985-01-12 00:00:00
6   Ezequiel  1996-07-03 00:00:00
7    Susanna  1973-03-16 00:00:00
8     Victor  1988-06-09 00:00:00
9       Alex  1991-01-08 00:00:00
10     Aaron  1989-02-05 00:00:00

In [64]:
cumples['fecha_pd'] = pd.to_datetime(cumples.Fecha)

In [55]:
cumples['fecha_fix'] = [datetime.strptime(f, '%d-%m-%Y') if type(f) == str else f for f in cumples.Fecha ]

In [67]:
cumples

      Nombre                Fecha  fecha_fix   fecha_pd
0       Lola           23-06-1991 1991-06-23 1991-06-23
1      Laura           24-08-1986 1986-08-24 1986-08-24
2     Álvaro  1993-09-11 00:00:00 1993-09-11 1993-09-11
3       Anna           19-09-1991 1991-09-19 1991-09-19
4       Vero  1983-06-01 00:00:00 1983-06-01 1983-06-01
5     Blanca  1985-01-12 00:00:00 1985-01-12 1985-01-12
6   Ezequiel  1996-07-03 00:00:00 1996-07-03 1996-07-03
7    Susanna  1973-03-16 00:00:00 1973-03-16 1973-03-16
8     Victor  1988-06-09 00:00:00 1988-06-09 1988-06-09
9       Alex  1991-01-08 00:00:00 1991-01-08 1991-01-08
10     Aaron  1989-02-05 00:00:00 1989-02-05 1989-02-05

In [68]:
pd.to_datetime("today").year -

2020

## 0.- Calcular la edad de todos los estudiantes

In [69]:
def edad(fecha_nac):
    return date.today().year - fecha_nac.year

In [71]:
def edad(fecha_nac):
    today = date.today()
    return today.year - fecha_nac.year - ((today.month, today.day) < (fecha_nac.month, fecha_nac.day))

In [73]:
cumples['edad'] = cumples['fecha_fix'].apply(edad)
cumples

      Nombre                Fecha  fecha_fix   fecha_pd  edad
0       Lola           23-06-1991 1991-06-23 1991-06-23    29
1      Laura           24-08-1986 1986-08-24 1986-08-24    33
2     Álvaro  1993-09-11 00:00:00 1993-09-11 1993-09-11    26
3       Anna           19-09-1991 1991-09-19 1991-09-19    28
4       Vero  1983-06-01 00:00:00 1983-06-01 1983-06-01    37
5     Blanca  1985-01-12 00:00:00 1985-01-12 1985-01-12    35
6   Ezequiel  1996-07-03 00:00:00 1996-07-03 1996-07-03    24
7    Susanna  1973-03-16 00:00:00 1973-03-16 1973-03-16    47
8     Victor  1988-06-09 00:00:00 1988-06-09 1988-06-09    32
9       Alex  1991-01-08 00:00:00 1991-01-08 1991-01-08    29
10     Aaron  1989-02-05 00:00:00 1989-02-05 1989-02-05    31

## 1.- Fecha y nombre del próximo cumpleaños

In [75]:
cumples['2021'] = cumples['fecha_fix'].apply(lambda x: x.replace(year=2021))
cumples

,Nombre,Fecha,fecha_fix,fecha_pd,edad,2020,2021
0,Lola,23-06-1991,1991-06-23,1991-06-23,29,2020-06-23,2021-06-23
1,Laura,24-08-1986,1986-08-24,1986-08-24,33,2020-08-24,2021-08-24
2,Álvaro,1993-09-11 00:00:00,1993-09-11,1993-09-11,26,2020-09-11,2021-09-11
3,Anna,19-09-1991,1991-09-19,1991-09-19,28,2020-09-19,2021-09-19
4,Vero,1983-06-01 00:00:00,1983-06-01,1983-06-01,37,2020-06-01,2021-06-01
5,Blanca,1985-01-12 00:00:00,1985-01-12,1985-01-12,35,2020-01-12,2021-01-12
6,Ezequiel,1996-07-03 00:00:00,1996-07-03,1996-07-03,24,2020-07-03,2021-07-03
7,Susanna,1973-03-16 00:00:00,1973-03-16,1973-03-16,47,2020-03-16,2021-03-16
8,Victor,1988-06-09 00:00:00,1988-06-09,1988-06-09,32,2020-06-09,2021-06-09
9,Alex,1991-01-08 00:00:00,1991-01-08,1991-01-08,29,2020-01-08,2021-01-08
10,Aaron,1989-02-05 00:00:00,1989-02-05,1989-02-05,31,2020-02-05,2021-02-05

In [78]:
from datetime import timedelta

In [81]:
cumples[cumples['2020'].apply(lambda x: x.date()-date.today()) > timedelta(days=1)].sort_values('2020')

,Nombre,Fecha,fecha_fix,fecha_pd,edad,2020,2021
1,Laura,24-08-1986,1986-08-24,1986-08-24,33,2020-08-24,2021-08-24
2,Álvaro,1993-09-11 00:00:00,1993-09-11,1993-09-11,26,2020-09-11,2021-09-11
3,Anna,19-09-1991,1991-09-19,1991-09-19,28,2020-09-19,2021-09-19

In [84]:
cumples[cumples['2020'].apply(lambda x: x.date()-date.today()) > timedelta(days=1)]['2020'].apply(lambda x: x.strftime('%A'))

1      Monday
2      Friday
3    Saturday
Name: 2020, dtype: object

## 2.- Mes en las que más personas han nacido

In [85]:
cumples

,Nombre,Fecha,fecha_fix,fecha_pd,edad,2020,2021
0,Lola,23-06-1991,1991-06-23,1991-06-23,29,2020-06-23,2021-06-23
1,Laura,24-08-1986,1986-08-24,1986-08-24,33,2020-08-24,2021-08-24
2,Álvaro,1993-09-11 00:00:00,1993-09-11,1993-09-11,26,2020-09-11,2021-09-11
3,Anna,19-09-1991,1991-09-19,1991-09-19,28,2020-09-19,2021-09-19
4,Vero,1983-06-01 00:00:00,1983-06-01,1983-06-01,37,2020-06-01,2021-06-01
5,Blanca,1985-01-12 00:00:00,1985-01-12,1985-01-12,35,2020-01-12,2021-01-12
6,Ezequiel,1996-07-03 00:00:00,1996-07-03,1996-07-03,24,2020-07-03,2021-07-03
7,Susanna,1973-03-16 00:00:00,1973-03-16,1973-03-16,47,2020-03-16,2021-03-16
8,Victor,1988-06-09 00:00:00,1988-06-09,1988-06-09,32,2020-06-09,2021-06-09
9,Alex,1991-01-08 00:00:00,1991-01-08,1991-01-08,29,2020-01-08,2021-01-08
10,Aaron,1989-02-05 00:00:00,1989-02-05,1989-02-05,31,2020-02-05,2021-02-05

In [86]:
cumples['mes'] = cumples['fecha_fix'].apply(lambda x: x.strftime('%B'))
cumples

,Nombre,Fecha,fecha_fix,fecha_pd,edad,2020,2021,mes
0,Lola,23-06-1991,1991-06-23,1991-06-23,29,2020-06-23,2021-06-23,June
1,Laura,24-08-1986,1986-08-24,1986-08-24,33,2020-08-24,2021-08-24,August
2,Álvaro,1993-09-11 00:00:00,1993-09-11,1993-09-11,26,2020-09-11,2021-09-11,September
3,Anna,19-09-1991,1991-09-19,1991-09-19,28,2020-09-19,2021-09-19,September
4,Vero,1983-06-01 00:00:00,1983-06-01,1983-06-01,37,2020-06-01,2021-06-01,June
5,Blanca,1985-01-12 00:00:00,1985-01-12,1985-01-12,35,2020-01-12,2021-01-12,January
6,Ezequiel,1996-07-03 00:00:00,1996-07-03,1996-07-03,24,2020-07-03,2021-07-03,July
7,Susanna,1973-03-16 00:00:00,1973-03-16,1973-03-16,47,2020-03-16,2021-03-16,March
8,Victor,1988-06-09 00:00:00,1988-06-09,1988-06-09,32,2020-06-09,2021-06-09,June
9,Alex,1991-01-08 00:00:00,1991-01-08,1991-01-08,29,2020-01-08,2021-01-08,January
10,Aaron,1989-02-05 00:00:00,1989-02-05,1989-02-05,31,2020-02-05,2021-02-05,February

In [87]:
cumples['mes'].value_counts()

June         3
January      2
September    2
March        1
February     1
July         1
August       1
Name: mes, dtype: int64

## 3.- Dia de la semana en las que más personas tendrán su cumpleaños en 2021

In [89]:
cumples['2021'].apply(lambda x: x.strftime('%A')).value_counts()

Tuesday      4
Wednesday    2
Saturday     2
Friday       2
Sunday       1
Name: 2021, dtype: int64

## timedelta

Get the current datetime:

In [90]:
dt_now = datetime.now()

Subtract two datetime fields to create a timedelta:

In [91]:
delta = dt_now - dt
delta

datetime.timedelta(days=2006, seconds=13477, microseconds=995149)

Add a datetime and a timedelta to get a new datetime:

In [93]:
dt_now + timedelta(5)

datetime.datetime(2020, 7, 23, 11, 12, 52, 995149)

## Timezones

In [94]:
import pytz

In [95]:
pytz.all_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Asmera', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Timbuktu', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/ComodRivadavia', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Atka', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Buenos_Aires', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Catamarca', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Coral_Harbour', 'America/Cordoba', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Ensenada', 'America/Fort_Nelson', 'America/Fort_Wayne', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indianapolis', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Jujuy', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Knox_IN', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Louisville', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Mendoza', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montreal', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Nuuk', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Acre', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Rosario', 'America/Santa_Isabel', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Shiprock', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Virgin', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/South_Pole', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Ashkhabad', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Calcutta', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Chongqing', 'Asia/Chungking', 'Asia/Colombo', 'Asia/Dacca', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Harbin', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Istanbul', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kashgar', 'Asia/Kathmandu', 'Asia/Katmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macao', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Rangoon', 'Asia/Riyadh', 'Asia/Saigon', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Tel_Aviv', 'Asia/Thimbu', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ujung_Pandang', 'Asia/Ulaanbaatar', 'Asia/Ulan_Bator', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faeroe', 'Atlantic/Faroe', 'Atlantic/Jan_Mayen', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/ACT', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Canberra', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/LHI', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/NSW', 'Australia/North', 'Australia/Perth', 'Australia/Queensland', 'Australia/South', 'Australia/Sydney', 'Australia/Tasmania', 'Australia/Victoria', 'Australia/West', 'Australia/Yancowinna', 'Brazil/Acre', 'Brazil/DeNoronha', 'Brazil/East', 'Brazil/West', 'CET', 'CST6CDT', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Canada/Saskatchewan', 'Canada/Yukon', 'Chile/Continental', 'Chile/EasterIsland', 'Cuba', 'EET', 'EST', 'EST5EDT', 'Egypt', 'Eire', 'Etc/GMT', 'Etc/GMT+0', 'Etc/GMT+1', 'Etc/GMT+10', 'Etc/GMT+11', 'Etc/GMT+12', 'Etc/GMT+2', 'Etc/GMT+3', 'Etc/GMT+4', 'Etc/GMT+5', 'Etc/GMT+6', 'Etc/GMT+7', 'Etc/GMT+8', 'Etc/GMT+9', 'Etc/GMT-0', 'Etc/GMT-1', 'Etc/GMT-10', 'Etc/GMT-11', 'Etc/GMT-12', 'Etc/GMT-13', 'Etc/GMT-14', 'Etc/GMT-2', 'Etc/GMT-3', 'Etc/GMT-4', 'Etc/GMT-5', 'Etc/GMT-6', 'Etc/GMT-7', 'Etc/GMT-8', 'Etc/GMT-9', 'Etc/GMT0', 'Etc/Greenwich', 'Etc/UCT', 'Etc/UTC', 'Etc/Universal', 'Etc/Zulu', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belfast', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Nicosia', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Tiraspol', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GB', 'GB-Eire', 'GMT', 'GMT+0', 'GMT-0', 'GMT0', 'Greenwich', 'HST', 'Hongkong', 'Iceland', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Iran', 'Israel', 'Jamaica', 'Japan', 'Kwajalein', 'Libya', 'MET', 'MST', 'MST7MDT', 'Mexico/BajaNorte', 'Mexico/BajaSur', 'Mexico/General', 'NZ', 'NZ-CHAT', 'Navajo', 'PRC', 'PST8PDT', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Johnston', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Ponape', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Samoa', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Truk', 'Pacific/Wake', 'Pacific/Wallis', 'Pacific/Yap', 'Poland', 'Portugal', 'ROC', 'ROK', 'Singapore', 'Turkey', 'UCT', 'US/Alaska', 'US/Aleutian', 'US/Arizona', 'US/Central', 'US/East-Indiana', 'US/Eastern', 'US/Hawaii', 'US/Indiana-Starke', 'US/Michigan', 'US/Mountain', 'US/Pacific', 'US/Samoa', 'UTC', 'Universal', 'W-SU', 'WET', 'Zulu']

In [96]:
datetime.now(tz=pytz.UTC).strftime('%H:%M')

'09:15'

In [97]:
datetime.now(tz=pytz.timezone('Europe/Madrid')).strftime('%H:%M')

'11:15'

In [25]:
help(pytz.timezone)

Help on function timezone in module pytz:

timezone(zone)
    Return a datetime.tzinfo implementation for the given timezone

    >>> from datetime import datetime, timedelta
    >>> utc = timezone('UTC')
    >>> eastern = timezone('US/Eastern')
    >>> eastern.zone
    'US/Eastern'
    >>> timezone(unicode('US/Eastern')) is eastern
    True
    >>> utc_dt = datetime(2002, 10, 27, 6, 0, 0, tzinfo=utc)
    >>> loc_dt = utc_dt.astimezone(eastern)
    >>> fmt = '%Y-%m-%d %H:%M:%S %Z (%z)'
    >>> loc_dt.strftime(fmt)
    '2002-10-27 01:00:00 EST (-0500)'
    >>> (loc_dt - timedelta(minutes=10)).strftime(fmt)
    '2002-10-27 00:50:00 EST (-0500)'
    >>> eastern.normalize(loc_dt - timedelta(minutes=10)).strftime(fmt)
    '2002-10-27 01:50:00 EDT (-0400)'
    >>> (loc_dt + timedelta(minutes=10)).strftime(fmt)
    '2002-10-27 01:10:00 EST (-0500)'

    Raises UnknownTimeZoneError if passed an unknown zone.

    >>> try:
    ...     timezone('Asia/Shangri-La')
    ... except UnknownTimeZoneError:
    ...     print('Unknown')
    Unknown

    >>> try:
    ...     timezone(unicode('\N{TRADE MARK SIGN}'))
    ... except UnknownTimeZoneError:
    ...     print('Unknown')
    Unknown