<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import requests

In [1]:
from bs4 import BeautifulSoup

In [3]:
url = 'http://ethans_fake_twitter_site.surge.sh/'

In [5]:
resp = requests.get(url)

In [6]:
resp.status_code

200

In [8]:
html = resp.text

In [10]:
soup = BeautifulSoup(html, "html.parser")

In [12]:
type(soup)

bs4.BeautifulSoup

In [14]:
tweets = soup.findAll('div', attrs={"class":"tweetcontainer"})

In [19]:
tweet = tweets[0]

In [24]:
tweet.find('h2', attrs={'class':'author'}).text

'jimmyfallon'

In [25]:
tweet.find('p', attrs={'class':'content'}).text

'Tonight: @MichaelKeaton, @ninadobrev, music from @The_xx, and more! #FallonTonight'

In [26]:
tweet.find('h5', attrs={'class':'dateTime'}).text

'17/01/2017 13:47'

In [35]:
int(tweet.find('p', attrs={'class':'likes'}).text.replace('Likes  ',''))

184

In [41]:
tweets_dict = [{'autor':tweet.find('h2', attrs={'class':'author'}).text,
  'texto':tweet.find('p', attrs={'class':'content'}).text,
  'likes':int(tweet.find('p', attrs={'class':'likes'}).text.replace('Likes  ','')),
  'fecha':tweet.find('h5', attrs={'class':'dateTime'}).text
} for tweet in tweets ]

In [38]:
import pandas as pd

In [40]:
pd.DataFrame(twwets_dict)

,autor,texto,likes,fecha
0,jimmyfallon,"Tonight: @MichaelKeaton, @ninadobrev, music fr...",184,17/01/2017 13:47
1,jimmyfallon,.@michaelstrahan and @BryceDHoward take on @qu...,402,17/01/2017 12:55
2,jimmyfallon,Tonight on the show: @michaelstrahan and Bryce...,1886,16/01/2017 14:10
3,jimmyfallon,Can't believe we were just in LA a few days ag...,8731,13/01/2017 23:23
4,jimmyfallon,Rumors circulating that @TheKinks actually own...,1253,13/01/2017 17:40
...,...,...,...,...
3118,jimmyfallon,Special hashtag game! Steve Buscemi’s on the s...,208,04/09/2013 18:56
3119,jimmyfallon,"Fun show tonight. @heidiklum, Mayor @CoryBooke...",149,04/09/2013 16:30
3120,jimmyfallon,Mark Zuckerberg has launched a new project to ...,881,03/09/2013 23:55
3121,jimmyfallon,"Tonight, for our first show back, we've got @m...",530,03/09/2013 20:14
3122,jimmyfallon,We are back with a brand new Late Night tonigh...,763,03/09/2013 14:12