# Python and SQLite

### Install ipython-sql

In [ ]:
#!pip install ipython-sql

### Load the extension

In [2]:
%load_ext sql

### Connect to the database

In [3]:
%sql sqlite:////home/bioinformatica/Ironhack/3_Code/notebooks/data/sql-murder-mystery.db

### Get list of tables

In [6]:
%%sql
SELECT name FROM sqlite_master
WHERE type='table'
ORDER BY name;

 * sqlite:////home/bioinformatica/Ironhack/3_Code/notebooks/data/sql-murder-mystery.db
Done.

[('crime_scene_report',),
 ('drivers_license',),
 ('facebook_event_checkin',),
 ('get_fit_now_check_in',),
 ('get_fit_now_member',),
 ('income',),
 ('interview',),
 ('person',),
 ('solution',)]

### Explore one table

In [15]:
%%sql
select * 
from person

 * sqlite:////home/bioinformatica/Ironhack/3_Code/notebooks/data/sql-murder-mystery.db
Done.

[(10000, 'Christoper Peteuil', 993845, 624, 'Bankhall Ave', 747714076),
 (10007, 'Kourtney Calderwood', 861794, 2791, 'Gustavus Blvd', 477972044),
 (10010, 'Muoi Cary', 385336, 741, 'Northwestern Dr', 828638512),
 (10016, 'Era Moselle', 431897, 1987, 'Wood Glade St', 614621061),
 (10025, 'Trena Hornby', 550890, 276, 'Daws Hill Way', 223877684),
 (10027, 'Antione Godbolt', 439509, 2431, 'Zelham Dr', 491650087),
 (10034, 'Kyra Buen', 920494, 1873, 'Sleigh Dr', 332497972),
 (10039, 'Francesco Agundez', 278151, 736, 'Buswell Dr', 861079251),
 (10095, 'Leslie Thate', 729987, 2772, 'Camellia Park Circle', 127944356),
 (10122, 'Alva Conkel', 779002, 116, 'Diversey Circle', 148521773)]